<!DOCTYPE html>
<html>
    <head>
        <title>Ninka's blog</title>
    </head>
    <body style="background-color:powderblue;">
        <h1 style="background-color:tomato;">Moja krasna stranka</h1>
        <h2 style="color:blue;">Bottom text</h2>
        <h3 style="color:red;">Najmensi text</h3>
        <p style="font-family:verdana;">Teraz pisem</p>
        <p style="font-family:courier;">It works!</p>
        <em style="text-align:center;">fancy text</em>
        <br>
        <strong>Hruby text</strong>
        <br>
        <a href="https://djangogirls.org">link</a>
        <ul><li>prvy bod</li><li>druhy bod</li></ul>
        <div> neviem co</div>
        <nav>sem a tu</nav>
        <br>
        <article style="font-family:courier;">NJVKBJRKJRSNDBVR</article>
    </body>
</html>
